.section1 { 
    margin-left: 320px;
    margin-right: 320px;
    height: 100%;
}

.content-text { 
    position: absolute;
    width: 624px;
    height: 368px;
    left: 320px;
    top: 356px;
    display: flex;
    align-items: left;
    flex-direction: column;
}

.content-helloworld{
    margin-bottom: 0px;
    text-align: left;
    font-size: 24px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

h1 { 
    font-size: 96px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 24px;
    text-align: left;
    margin-block-start: 0px;

    animation-name: moveInLeft;
    animation-duration: 1.1s;
    animation-timing-function: ease-out;
}

.content-SE {
    text-align: left;
    margin-top: 0px;
    font-size: 20px;
    letter-spacing: 1.5px;
    margin-bottom: 20px;

    animation-name: moveInLeft;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
}

.content-UID {
    text-align: left;
    margin-top: 0px;
    font-size: 20px;
    letter-spacing: 1.5px;
    margin-bottom: 20px;

    animation-name: moveInLeft;
    animation-duration: 1.4s;
    animation-timing-function: ease-out;
}
.content-welcome {
    text-align: left;
    margin-top: 0px;
    font-size: 20px;
    letter-spacing: 1.5px;
    margin-bottom: 20px;

    animation-name: moveInLeft;
    animation-duration: 1.6s;
    animation-timing-function: ease-out;
}

.image-content { 
    position: absolute;
    top: 306px;
    left: 976px;
    width: 624px;
    display: flex;

    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.btn--white::after { 
    background-color: #fff;
}


.btn--white {
    background-color: #fff;
    color: #777;
    border-radius: 2rem;
}

.btn--animated { 
    animation: moveInBottom 1s ease-out .75s;
    animation-fill-mode: backwards;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-6rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(6rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(4rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}